body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: #1b1b32;
    color: #f5f6f7;
    font-family: Tahoma;
    font-size: 16px;
}

label {
    display: block;
    margin: 0.5rem 0;
}

/* The rem unit stands for root em, and is relative to the font size of 
the html element.

As label elements are inline by default, they are all displayed side by side on 
the same line, 
making their text hard to read. To make them appear on separate lines, 
add display: block to the label element, 
and add a margin of 0.5rem 0, to separate them from each other. */

h1,
p {
    margin: 1em auto;
    text-align: center;
}

form {
    margin: 0 auto;
    max-width: 500px;
    min-width: 300px;
    width: 60vw;
}

fieldset {
    border: none;
    padding: 2rem 0;
    border-bottom: 3px solid #3b3b4f;
}

/* The border of the last fieldset element looks a little out of place.
You can select the last element of a specific type using the last-of-type CSS pseudo-class, 
like this:

p:last-of-type { }

That will select the last p element. Create a new selector that targets the 
last fieldset element and set its border-bottom to none. */

fieldset:last-of-type {
    border-bottom: none;
}

input,
textarea,
select {
    margin: 10px 0 0 0;
    width: 100%;
}

/* Select only the .inline elements, and give them width of unset. 
This will remove the earlier rule which set all the input elements to width: 100%. */
.inline{
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
    min-height: 2em;
}

input, textarea{
    background-color:#0a0a23;
    border:1px solid #0a0a23;
    color:#ffffff;
    
}
/* To style the submit button, you can use an attribute selector, 
which selects an element based on the given attribute value. Here is an example:

input[name="password"]

The above selects input elements with a name attribute value of password.

Now, use the attribute selector to style the submit button with 
a display of block, and a width of 60%. */

input[type='submit']{
    display:block;
    width:60%;
    margin: 1em auto;
    min-width:300px;
    height: 2em;
    font-size: 1.1rem;
    background-color:#3b3b4f;
    border-color:white;
}

input[type='file']{
    padding:1px 2px;
}